body {
  background-color: #E8EDF0;
  color: #003459;
  text-align: center;
}

/*Colours:  #E8EDF0 - Glitter
            #00A7E1 - Vivid Cerulean
            #007EA7 - Cerulean
            #003459 - Prussian Blue
            #00171F - Rich Black (Fogra29)*/
